.tk-contributors
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/guillaumechervetaxa" title="guillaumechervetaxa") guillaumechervetaxa
    img.tk-contributor__avatar(src="https://avatars3.githubusercontent.com/u/43414465?v=4" loading="lazy")
    span.tk-contributor__badge #1
    span.tk-contributor__commits Commits : 50
    span.tk-contributor__additions Additions : 343278 ++
    span.tk-contributor__deletions Deletions : 193372 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/xballoy" title="xballoy") xballoy
    img.tk-contributor__avatar(src="https://avatars2.githubusercontent.com/u/686305?v=4" loading="lazy")
    span.tk-contributor__badge #2
    span.tk-contributor__commits Commits : 38
    span.tk-contributor__additions Additions : 106466 ++
    span.tk-contributor__deletions Deletions : 129565 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/samuel-gomez-axa" title="samuel-gomez-axa") samuel-gomez-axa
    img.tk-contributor__avatar(src="https://avatars2.githubusercontent.com/u/43414022?v=4" loading="lazy")
    span.tk-contributor__badge #3
    span.tk-contributor__commits Commits : 26
    span.tk-contributor__additions Additions : 256590 ++
    span.tk-contributor__deletions Deletions : 318218 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/arnaudforaison" title="arnaudforaison") arnaudforaison
    img.tk-contributor__avatar(src="https://avatars1.githubusercontent.com/u/1309516?v=4" loading="lazy")
    span.tk-contributor__badge #4
    span.tk-contributor__commits Commits : 18
    span.tk-contributor__additions Additions : 31903 ++
    span.tk-contributor__deletions Deletions : 65067 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/youf-olivier" title="youf-olivier") youf-olivier
    img.tk-contributor__avatar(src="https://avatars3.githubusercontent.com/u/40664502?v=4" loading="lazy")
    span.tk-contributor__badge #5
    span.tk-contributor__commits Commits : 7
    span.tk-contributor__additions Additions : 25301 ++
    span.tk-contributor__deletions Deletions : 26029 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/guillaume-chervet" title="guillaume-chervet") guillaume-chervet
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/52236059?v=4" loading="lazy")
    span.tk-contributor__badge #6
    span.tk-contributor__commits Commits : 6
    span.tk-contributor__additions Additions : 272 ++
    span.tk-contributor__deletions Deletions : 438 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/julienbirgand" title="julienbirgand") julienbirgand
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/44169140?v=4" loading="lazy")
    span.tk-contributor__badge #7
    span.tk-contributor__commits Commits : 6
    span.tk-contributor__additions Additions : 159 ++
    span.tk-contributor__deletions Deletions : 113 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/barry-thierno" title="barry-thierno") barry-thierno
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/45846776?v=4" loading="lazy")
    span.tk-contributor__badge #8
    span.tk-contributor__commits Commits : 5
    span.tk-contributor__additions Additions : 1570 ++
    span.tk-contributor__deletions Deletions : 1399 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Cleclemi28" title="Cleclemi28") Cleclemi28
    img.tk-contributor__avatar(src="https://avatars3.githubusercontent.com/u/25902431?v=4" loading="lazy")
    span.tk-contributor__badge #9
    span.tk-contributor__commits Commits : 4
    span.tk-contributor__additions Additions : 28883 ++
    span.tk-contributor__deletions Deletions : 29040 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/oussamahamdaoui" title="oussamahamdaoui") oussamahamdaoui
    img.tk-contributor__avatar(src="https://avatars3.githubusercontent.com/u/37545214?v=4" loading="lazy")
    span.tk-contributor__badge #10
    span.tk-contributor__commits Commits : 4
    span.tk-contributor__additions Additions : 1300 ++
    span.tk-contributor__deletions Deletions : 3509 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/gcruchon" title="gcruchon") gcruchon
    img.tk-contributor__avatar(src="https://avatars3.githubusercontent.com/u/1456883?v=4" loading="lazy")
    span.tk-contributor__badge #11
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 149 ++
    span.tk-contributor__deletions Deletions : 132 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/hamzahamidi" title="hamzahamidi") hamzahamidi
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/22576950?v=4" loading="lazy")
    span.tk-contributor__badge #12
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 1 ++
    span.tk-contributor__deletions Deletions : 2 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/johnmeunier" title="johnmeunier") johnmeunier
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/14071674?v=4" loading="lazy")
    span.tk-contributor__badge #13
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 6 ++
    span.tk-contributor__deletions Deletions : 6 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Antoine-Regembal" title="Antoine-Regembal") Antoine-Regembal
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/33549142?v=4" loading="lazy")
    span.tk-contributor__badge #14
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 5 ++
    span.tk-contributor__deletions Deletions : 3 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Debaerdm" title="Debaerdm") Debaerdm
    img.tk-contributor__avatar(src="https://avatars3.githubusercontent.com/u/11472512?v=4" loading="lazy")
    span.tk-contributor__badge #15
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 10 ++
    span.tk-contributor__deletions Deletions : 1 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Gparquet" title="Gparquet") Gparquet
    img.tk-contributor__avatar(src="https://avatars2.githubusercontent.com/u/41692170?v=4" loading="lazy")
    span.tk-contributor__badge #16
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 4 ++
    span.tk-contributor__deletions Deletions : 2 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/JLou" title="JLou") JLou
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/183460?v=4" loading="lazy")
    span.tk-contributor__badge #17
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 4 ++
    span.tk-contributor__deletions Deletions : 4 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Sebo1000" title="Sebo1000") Sebo1000
    img.tk-contributor__avatar(src="https://avatars2.githubusercontent.com/u/4377523?v=4" loading="lazy")
    span.tk-contributor__badge #18
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 15 ++
    span.tk-contributor__deletions Deletions : 13 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/andriamiravaka-rado" title="andriamiravaka-rado") andriamiravaka-rado
    img.tk-contributor__avatar(src="https://avatars1.githubusercontent.com/u/46888309?v=4" loading="lazy")
    span.tk-contributor__badge #19
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 1 ++
    span.tk-contributor__deletions Deletions : 0 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/bernard-arnaud" title="bernard-arnaud") bernard-arnaud
    img.tk-contributor__avatar(src="https://avatars1.githubusercontent.com/u/47565500?v=4" loading="lazy")
    span.tk-contributor__badge #20
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 13 ++
    span.tk-contributor__deletions Deletions : 5 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/croquet-mickael" title="croquet-mickael") croquet-mickael
    img.tk-contributor__avatar(src="https://avatars1.githubusercontent.com/u/47211396?v=4" loading="lazy")
    span.tk-contributor__badge #21
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 14 ++
    span.tk-contributor__deletions Deletions : 4 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/cyril-lakech" title="cyril-lakech") cyril-lakech
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/40664264?v=4" loading="lazy")
    span.tk-contributor__badge #22
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 2 ++
    span.tk-contributor__deletions Deletions : 2 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/apps/dependabot" title="dependabot[bot]") dependabot[bot]
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/in/29110?v=4" loading="lazy")
    span.tk-contributor__badge #23
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 19154 ++
    span.tk-contributor__deletions Deletions : 17024 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/fdescamps" title="fdescamps") fdescamps
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/1039390?v=4" loading="lazy")
    span.tk-contributor__badge #24
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 0 ++
    span.tk-contributor__deletions Deletions : 1 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/samuel-gomez" title="samuel-gomez") samuel-gomez
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/16844565?v=4" loading="lazy")
    span.tk-contributor__badge #25
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 18 ++
    span.tk-contributor__deletions Deletions : 11 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/tbmc" title="tbmc") tbmc
    img.tk-contributor__avatar(src="https://avatars0.githubusercontent.com/u/8573310?v=4" loading="lazy")
    span.tk-contributor__badge #26
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 5 ++
    span.tk-contributor__deletions Deletions : 0 --
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/vincent-ducrocq-axa" title="vincent-ducrocq-axa") vincent-ducrocq-axa
    img.tk-contributor__avatar(src="https://avatars1.githubusercontent.com/u/50108579?v=4" loading="lazy")
    span.tk-contributor__badge #27
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 1 ++
    span.tk-contributor__deletions Deletions : 1 --
