.tk-contributors
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/samuel-gomez-axa" title="samuel-gomez-axa") samuel-gomez-axa
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/43414022?v=4" loading="lazy")
    span.tk-contributor__badge #1
    span.tk-contributor__commits Commits : 38
    span.tk-contributor__additions Additions : 289885 ++
    span.tk-contributor__deletions Deletions : 340527 --
    span.tk-contributor power : 630450
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/guillaumechervetaxa" title="guillaumechervetaxa") guillaumechervetaxa
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/43414465?v=4" loading="lazy")
    span.tk-contributor__badge #2
    span.tk-contributor__commits Commits : 51
    span.tk-contributor__additions Additions : 343439 ++
    span.tk-contributor__deletions Deletions : 193461 --
    span.tk-contributor power : 536951
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/arnaudforaison" title="arnaudforaison") arnaudforaison
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/1309516?v=4" loading="lazy")
    span.tk-contributor__badge #3
    span.tk-contributor__commits Commits : 127
    span.tk-contributor__additions Additions : 256230 ++
    span.tk-contributor__deletions Deletions : 249284 --
    span.tk-contributor power : 505641
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/samuel-gomez" title="samuel-gomez") samuel-gomez
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/16844565?v=4" loading="lazy")
    span.tk-contributor__badge #4
    span.tk-contributor__commits Commits : 5
    span.tk-contributor__additions Additions : 134403 ++
    span.tk-contributor__deletions Deletions : 183749 --
    span.tk-contributor power : 318157
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/xballoy" title="xballoy") xballoy
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/686305?v=4" loading="lazy")
    span.tk-contributor__badge #5
    span.tk-contributor__commits Commits : 54
    span.tk-contributor__additions Additions : 115587 ++
    span.tk-contributor__deletions Deletions : 133217 --
    span.tk-contributor power : 248858
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Cleclemi28" title="Cleclemi28") Cleclemi28
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/25902431?v=4" loading="lazy")
    span.tk-contributor__badge #6
    span.tk-contributor__commits Commits : 4
    span.tk-contributor__additions Additions : 28883 ++
    span.tk-contributor__deletions Deletions : 29040 --
    span.tk-contributor power : 57927
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/guillaume-chervet" title="guillaume-chervet") guillaume-chervet
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/52236059?v=4" loading="lazy")
    span.tk-contributor__badge #7
    span.tk-contributor__commits Commits : 12
    span.tk-contributor__additions Additions : 29875 ++
    span.tk-contributor__deletions Deletions : 23080 --
    span.tk-contributor power : 52967
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/apps/dependabot" title="dependabot[bot]") dependabot[bot]
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/in/29110?v=4" loading="lazy")
    span.tk-contributor__badge #8
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 19168 ++
    span.tk-contributor__deletions Deletions : 17027 --
    span.tk-contributor power : 36197
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/barry-thierno" title="barry-thierno") barry-thierno
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/45846776?v=4" loading="lazy")
    span.tk-contributor__badge #9
    span.tk-contributor__commits Commits : 6
    span.tk-contributor__additions Additions : 14253 ++
    span.tk-contributor__deletions Deletions : 19237 --
    span.tk-contributor power : 33496
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/SamuelHsn" title="SamuelHsn") SamuelHsn
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/17061737?v=4" loading="lazy")
    span.tk-contributor__badge #10
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 12683 ++
    span.tk-contributor__deletions Deletions : 17838 --
    span.tk-contributor power : 30522
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/youf-olivier" title="youf-olivier") youf-olivier
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/40664502?v=4" loading="lazy")
    span.tk-contributor__badge #11
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 11744 ++
    span.tk-contributor__deletions Deletions : 12831 --
    span.tk-contributor power : 24576
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/apps/dependabot-preview" title="dependabot-preview[bot]") dependabot-preview[bot]
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/in/2141?v=4" loading="lazy")
    span.tk-contributor__badge #12
    span.tk-contributor__commits Commits : 26
    span.tk-contributor__additions Additions : 5653 ++
    span.tk-contributor__deletions Deletions : 1415 --
    span.tk-contributor power : 7094
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Hakan-Orak" title="Hakan-Orak") Hakan-Orak
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/46821644?v=4" loading="lazy")
    span.tk-contributor__badge #13
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 5409 ++
    span.tk-contributor__deletions Deletions : 379 --
    span.tk-contributor power : 5790
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Cristallix" title="Cristallix") Cristallix
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/11072596?v=4" loading="lazy")
    span.tk-contributor__badge #14
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 5357 ++
    span.tk-contributor__deletions Deletions : 361 --
    span.tk-contributor power : 5719
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/romuleald" title="romuleald") romuleald
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/144375?v=4" loading="lazy")
    span.tk-contributor__badge #15
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 5357 ++
    span.tk-contributor__deletions Deletions : 361 --
    span.tk-contributor power : 5719
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/oussamahamdaoui" title="oussamahamdaoui") oussamahamdaoui
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/37545214?v=4" loading="lazy")
    span.tk-contributor__badge #16
    span.tk-contributor__commits Commits : 4
    span.tk-contributor__additions Additions : 1300 ++
    span.tk-contributor__deletions Deletions : 3509 --
    span.tk-contributor power : 4813
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/vharny" title="vharny") vharny
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/32737387?v=4" loading="lazy")
    span.tk-contributor__badge #17
    span.tk-contributor__commits Commits : 4
    span.tk-contributor__additions Additions : 767 ++
    span.tk-contributor__deletions Deletions : 491 --
    span.tk-contributor power : 1262
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/triathete23" title="triathete23") triathete23
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/86561396?v=4" loading="lazy")
    span.tk-contributor__badge #18
    span.tk-contributor__commits Commits : 3
    span.tk-contributor__additions Additions : 576 ++
    span.tk-contributor__deletions Deletions : 440 --
    span.tk-contributor power : 1019
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/MartinWeb" title="MartinWeb") MartinWeb
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/1991349?v=4" loading="lazy")
    span.tk-contributor__badge #19
    span.tk-contributor__commits Commits : 8
    span.tk-contributor__additions Additions : 625 ++
    span.tk-contributor__deletions Deletions : 330 --
    span.tk-contributor power : 963
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/JLou" title="JLou") JLou
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/183460?v=4" loading="lazy")
    span.tk-contributor__badge #20
    span.tk-contributor__commits Commits : 5
    span.tk-contributor__additions Additions : 680 ++
    span.tk-contributor__deletions Deletions : 167 --
    span.tk-contributor power : 852
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/gcruchon" title="gcruchon") gcruchon
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/1456883?v=4" loading="lazy")
    span.tk-contributor__badge #21
    span.tk-contributor__commits Commits : 9
    span.tk-contributor__additions Additions : 352 ++
    span.tk-contributor__deletions Deletions : 182 --
    span.tk-contributor power : 543
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/apps/mergify" title="mergify[bot]") mergify[bot]
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/in/10562?v=4" loading="lazy")
    span.tk-contributor__badge #22
    span.tk-contributor__commits Commits : 4
    span.tk-contributor__additions Additions : 302 ++
    span.tk-contributor__deletions Deletions : 144 --
    span.tk-contributor power : 450
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/julienbirgand" title="julienbirgand") julienbirgand
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/44169140?v=4" loading="lazy")
    span.tk-contributor__badge #23
    span.tk-contributor__commits Commits : 6
    span.tk-contributor__additions Additions : 159 ++
    span.tk-contributor__deletions Deletions : 113 --
    span.tk-contributor power : 278
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/johnmeunier" title="johnmeunier") johnmeunier
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/14071674?v=4" loading="lazy")
    span.tk-contributor__badge #24
    span.tk-contributor__commits Commits : 3
    span.tk-contributor__additions Additions : 92 ++
    span.tk-contributor__deletions Deletions : 142 --
    span.tk-contributor power : 237
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/jforatier" title="jforatier") jforatier
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/658065?v=4" loading="lazy")
    span.tk-contributor__badge #25
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 117 ++
    span.tk-contributor__deletions Deletions : 0 --
    span.tk-contributor power : 119
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Sebo1000" title="Sebo1000") Sebo1000
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/4377523?v=4" loading="lazy")
    span.tk-contributor__badge #26
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 103 ++
    span.tk-contributor__deletions Deletions : 13 --
    span.tk-contributor power : 118
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/DanneelsSophie" title="DanneelsSophie") DanneelsSophie
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/15892424?v=4" loading="lazy")
    span.tk-contributor__badge #27
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 22 ++
    span.tk-contributor__deletions Deletions : 25 --
    span.tk-contributor power : 49
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/croquet-mickael" title="croquet-mickael") croquet-mickael
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/47211396?v=4" loading="lazy")
    span.tk-contributor__badge #28
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 14 ++
    span.tk-contributor__deletions Deletions : 4 --
    span.tk-contributor power : 19
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/bernard-arnaud" title="bernard-arnaud") bernard-arnaud
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/47565500?v=4" loading="lazy")
    span.tk-contributor__badge #29
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 13 ++
    span.tk-contributor__deletions Deletions : 5 --
    span.tk-contributor power : 19
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Debaerdm" title="Debaerdm") Debaerdm
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/11472512?v=4" loading="lazy")
    span.tk-contributor__badge #30
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 10 ++
    span.tk-contributor__deletions Deletions : 1 --
    span.tk-contributor power : 12
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/jmittelette" title="jmittelette") jmittelette
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/6491396?v=4" loading="lazy")
    span.tk-contributor__badge #31
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 10 ++
    span.tk-contributor__deletions Deletions : 0 --
    span.tk-contributor power : 11
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Antoine-Regembal" title="Antoine-Regembal") Antoine-Regembal
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/33549142?v=4" loading="lazy")
    span.tk-contributor__badge #32
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 5 ++
    span.tk-contributor__deletions Deletions : 3 --
    span.tk-contributor power : 9
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/sisko59" title="sisko59") sisko59
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/11503659?v=4" loading="lazy")
    span.tk-contributor__badge #33
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 7 ++
    span.tk-contributor__deletions Deletions : 1 --
    span.tk-contributor power : 9
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/Gparquet" title="Gparquet") Gparquet
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/41692170?v=4" loading="lazy")
    span.tk-contributor__badge #34
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 4 ++
    span.tk-contributor__deletions Deletions : 2 --
    span.tk-contributor power : 7
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/tbmc" title="tbmc") tbmc
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/8573310?v=4" loading="lazy")
    span.tk-contributor__badge #35
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 5 ++
    span.tk-contributor__deletions Deletions : 0 --
    span.tk-contributor power : 6
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/hamzahamidi" title="hamzahamidi") hamzahamidi
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/22576950?v=4" loading="lazy")
    span.tk-contributor__badge #36
    span.tk-contributor__commits Commits : 2
    span.tk-contributor__additions Additions : 1 ++
    span.tk-contributor__deletions Deletions : 2 --
    span.tk-contributor power : 5
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/cyril-lakech" title="cyril-lakech") cyril-lakech
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/40664264?v=4" loading="lazy")
    span.tk-contributor__badge #37
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 2 ++
    span.tk-contributor__deletions Deletions : 2 --
    span.tk-contributor power : 5
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/vincent-ducrocq-axa" title="vincent-ducrocq-axa") vincent-ducrocq-axa
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/50108579?v=4" loading="lazy")
    span.tk-contributor__badge #38
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 1 ++
    span.tk-contributor__deletions Deletions : 1 --
    span.tk-contributor power : 3
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/djedje72" title="djedje72") djedje72
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/18309946?v=4" loading="lazy")
    span.tk-contributor__badge #39
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 1 ++
    span.tk-contributor__deletions Deletions : 1 --
    span.tk-contributor power : 3
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/andriamiravaka-rado" title="andriamiravaka-rado") andriamiravaka-rado
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/46888309?v=4" loading="lazy")
    span.tk-contributor__badge #40
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 1 ++
    span.tk-contributor__deletions Deletions : 0 --
    span.tk-contributor power : 2
  .tk-contributor
    a.tk-contributor__link(href="https://github.com/fdescamps" title="fdescamps") fdescamps
    img.tk-contributor__avatar(src="https://avatars.githubusercontent.com/u/1039390?v=4" loading="lazy")
    span.tk-contributor__badge #41
    span.tk-contributor__commits Commits : 1
    span.tk-contributor__additions Additions : 0 ++
    span.tk-contributor__deletions Deletions : 1 --
    span.tk-contributor power : 2
